ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin: auto auto;
}

.caret::before {
  color: #f4a950;
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
}

.emptyCaret::before {
  content: "\25B6";
  color: transparent;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
  padding-inline-start: 20px;
}

.active {
  display: block;
}

.hover-tree-color {
  transition-property: all;
  transition-duration: 0.2s;
  border-radius: 4px;
  padding-left: 10px;
}

.hover-tree-color:hover {
  background-color: #161b21;
}

.match {
  color: yellow;
}

.emptyCaret {
  margin: auto auto;
}

.flex div {
  display: table;
}

div span {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.tree-footer {
  height: 44px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
}

.tree-footer div {
  height: 100%;
  margin: auto;
  background-color: #1f2933;
  padding: 10px;
}

@media (min-aspect-ratio: 12/9) {
  .tree-footer div {
    width: 50%;
  }
}

@media (max-aspect-ratio: 12/9) {
  .tree-footer div {
    width: 100%;
  }
}