<!DOCTYPE html>
<html>

<head>
  <base target="_parent">
  <link rel="stylesheet" href="/styles/header.css">
  <script src="/scripts/header.js" type="module"></script>
</head>

<body>
  <div class="header flex space-between stretch" id="headerLoader">
    <div class="flex gap">
      <a class="flex center" href="/">
        <img src="/img/banner.png" height="24">
      </a>
    </div>
    <div class="flex">
      <a class="headerItem" href="/api.html"><button class="miniBtn btn-det"></button></a>
      <a href="/users.html" id="userA"></a>
      <a href="/admin.html" id="adminA"></a>
      <a href="/signout.html" id="signoutA"></a>
      <!--       <span id="logoutSpan"></span> -->
    </div>
  </div>
</body>

</html>